{% extends "layout/basic.html" %}

{% load account socialaccount %}

{% block content%}

{% if user.is_authenticated %}
<a href="{% url 'auth_vk:logout' %}">Выйти</a>
<h2 class="text-center">{% user_display user %}</h2>

{% for friend in friends %}
<div class="border"><a href="https://vk.com/{{ friend.domain }}" target="_blank">
        <img src="{{ friend.photo_100 }}">
        {{ friend.first_name }} {{ friend.last_name }}
    </a></div>
{% endfor %}

{% else %}
<p class="text-center"><a class="btn btn-primary" href="{% provider_login_url "vk" %}">Авторизоваться</a></p>
{% endif %}

{% endblock %}